#!/bin/zsh

# When using sudo, use alias expansion (otherwise sudo ignores your aliases)
alias sudo=$'sudo '

# Other sudo aliases
alias s='sudo '
alias se='sudoedit'
alias please='sudo'

# pwetty colors
alias ls='ls --color=always'

# Basic ls aliases
alias l='ls -CF'
alias ll='ls -alF'
alias lsa='ls -A'
alias lsh='ls -alh'
# df aliases
alias df='df -H'

# Basic remove aliases
alias rm='rm -rf'

# Vim aliases
alias v='vim'
alias svim='sudo vim'
alias sv='sudo vim'

# Emacs alias
alias emacs='emacsclient -nc'
alias emacs-cmd='emacsclient -nw'

# Refresh shell
alias rfssh='source ~/.zshrc'

# System info aliases
# htop instead of top
alias top='htop'
alias pss='ps -e | grep '

# Free memory info
alias meminfo='free -m -l -t'

# get GPU ram on desktop / laptop
alias gpumeminfo='grep -i --color memory /var/log/Xorg.0.log'

# Apt package management
alias list-installed-packages='sudo apt list --installed'
alias search-installed-packages='sudo apt list --installed | grep '


# uncommon program aliases
if [ -f $HOME/.program_aliases ]; then
    . $HOME/.program_aliases 
fi


eval $(thefuck --alias fuck)
eval $(thefuck --alias FUCK)
eval $(thefuck --alias dammit)
eval $(thefuck --alias damn)
eval $(thefuck --alias shit)
eval $(thefuck --alias hell)
eval $(thefuck --alias endme)
