#!/bin/zsh
#
## A function to see if a command exists. Basically cross platform
exists() {
    command -v $1 >/dev/null
    return $?
}

# When using sudo, use alias expansion (otherwise sudo ignores your aliases)
alias sudo=$'sudo '

# Other sudo aliasesdev
alias s='sudo '
alias se='sudoedit'
alias please='sudo'

# pwetty colors
alias ls='ls --color=always'

# List aliases
alias l='ls -CF'
alias ll='ls -alF'
alias lsa='ls -A'
alias lsh='ls -alh'

# Remove aliases
alias rm='rm -rf'

# Copy aliases
alias cp='cp -r'
alias scp='scp -r'

if exists vim; then
    # Vim aliases
    alias v='vim'
    alias svim='sudo vim'
    alias sv='sudo vim'
fi

if exists emacs; then
    # Emacs alias
    alias emacs='emacsclient -nc'
    alias emacs-cmd='emacsclient -nw'
fi

# Refresh shell
alias rfssh='source ~/.'$SHELL_EXTENSION'rc'

alias sound='pavucontrol'

# System info aliases
# htop instead of top
if exists htop; then
    alias top='htop'
fi

alias df='df -H'

alias pss='ps -e | grep '

alias force-kill='killall -9 '

# Free memory info
alias meminfo='free -m -l -t'

# get GPU ram on desktop / laptop
alias gpumeminfo='grep -i --color memory /var/log/Xorg.0.log'

alias check-serial="ls -l /dev | grep -E 'ttyUSB|ttyS'"


# Apt package management
alias list-installed-packages='sudo apt list --installed'
alias search-installed-packages='sudo apt list --installed | grep '
# tries to run an apt update and fix any keys that return no pubkey
fix-keys() {
    sudo apt update | sed -n -e 's/^.*NO_PUBKEY[[:space:]]//p' | xargs -I % sudo apt-key adv --recv-key --keyserver keyserver.ubuntu.com %
    sudo apt update | sed -n -e 's/^.*EXPKEYSIG[[:space:]]//p' | xargs -I % sudo apt-key adv --recv-key --keyserver keyserver.ubuntu.com %
}


if exists git; then
	alias g='git'
	alias gs='git status'
	alias gr='cd $(git rev-parse --show-toplevel)'
fi

alias py='python'
if exists python3; then
	alias py3='python3'
    alias make-env='virtualenv env'
    alias make-venv='python3 -m venv env'
    #alias env-activate='source env/bin/activate && unset PYTHONPATH'
    #alias activate-env='source env/bin/activate && unset PYTHONPATH'
    alias env-activate='source env/bin/activate'
    alias activate-env='source env/bin/activate'
    alias ipython='python3 -m IPython'
fi

if exists python2; then
	alias py2='python2'
fi

if exists tmux; then
    alias ns='tmux new -s '
    alias as='tmux attach-session -t '
fi

alias list-ports='ss -tulpn'

alias nmap-quick='sudo nmap -sN -p - '

link-speeds(){
    ip a |awk '/state UP/{print $2}' | sed 's/://' | while read output;
    do
    echo $output:
    sudo ethtool $output |grep "Speed:"
    done
}

alias unlock-priv-env="gpg --decrypt --output $PRIVATE_DOTFILES/.private-env $PRIVATE_DOTFILES/.private-env.gpg"
alias lock-priv-env="source $PRIVATE_DOTFILES/.personal-env && gpg --symmetric --output $PRIVATE_DOTFILES/.private-env.gpg $PRIVATE_DOTFILES/.private-env && rm $PRIVATE_DOTFILES/.private-env"

# uncommon program aliases
if [ -f $HOME/.program_aliases ]; then
    . $HOME/.program_aliases
fi

alias recvkey='sudo apt-key adv -keyserver hkp://keyserver.ubuntu.com:80 --recv-key '

alias -g sd='; dunstify "done"'

if exists glances; then 
    alias glances="glances --percpu"
fi
