[user]
	email = collin.avidano@gmail.com
	name = CollinAvidano
[credential]
	helper = cache --timeout 7200
[help]
	autocorrect = 1
[core]
	autocrlf = input
[alias]
	subup = submodule update --init --recursive
	addext = --work-tree=/ add
