[Unit]
Description=Bing Rewards Service
RefuseManualStart=no
RefuseManualStop=no

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'python2 ~/.bingrewards/main.py'
StandardOutput=journal
