[Unit]
Description=easyeffects
After=pipewire.service

[Service]
Type=simple
ExecStartPre=sleep 4
ExecStart=/usr/bin/flatpak --socket=fallback-x11 run --command=easyeffects com.github.wwmm.easyeffects --gapplication-service
Restart=always

[Install]
WantedBy=pipewire.service
