#!/bin/zsh
# A function to see if a command exists. Basically cross platform which
exists() {
    command -v $1 >/dev/null
    return $?
}

# pwetty colors
alias ls='ls --color=always'

# Basic ls aliases
alias l='ls -CF'
alias ll='ls -alF'
alias lsa='ls -A'
alias lsh='ls -alh'

# When using sudo, use alias expansion (otherwise sudo ignores your aliases)
alias sudo='sudo '
alias s='sudo '
alias se='sudoedit'

# df aliases
alias df='df -H'

# Basic remove aliases
alias rm='rm -rf'

# Emacs alias
alias emacs='emacsclient -nc'

# htop instead of top
alias top='htop'

# Refresh shell
alias rfssh='source ~/.zshrc'

# System info aliases
# Free memory info
alias meminfo='free -m -l -t'

# get GPU ram on desktop / laptop
alias gpumeminfo='grep -i --color memory /var/log/Xorg.0.log'

# Git aexec_always ~/.config/i3/scripts/gnome-keyring.shliases
alias mainlog="git log --all --decorate --oneline --graph"

# Umlet alias
alias umlet="java -jar /opt/umlet/umlet.jar"

alias antlr='java -Xmx500M -cp "/usr/local/lib/antlr-4.7.1-complete.jar:$CLASSPATH" org.antlr.v4.Tool'
alias grun='java -Xmx500M -cp "/usr/local/lib/antlr-4.7.1-complete.jar:$CLASSPATH" org.antlr.v4.gui.TestRig'
