# A function to see if a command exists. Basically cross platform which
exists() {
    command -v $1 >/dev/null
    return $?
}

# some basic cd functions
cdup() {
    limit=$1
    counter=1
    while [ $counter -le $limit ]
    do
        cd ../
        ((counter++))
    done
}

# Shortcut creating function
short() {
    echo alias $1=\'$PWD\/$2\' >> ~/.dotfiles/system/.shortcuts
    source ~/.zshrc
}