# some basic cd functions

cdup() {
    limit=$1
    counter=1
    while [ $counter -le $limit ]
    do
        cd ../
        ((counter++))
    done
}

short() {
    echo alias $1=\'$PWD\/$2\' >> ~/.dotfiles/system/.shortcuts
    source ~/.aliases
}