# .xprofile is just for setting up the environment when logging in with an X session (usually via a display manager). It is similar to your .profile file, but specific to x sessions.

# keys should already be done in .xinitrc
setxkbmap -option caps:escape
setxkbmap -option altwin:swap_alt_win

# add i3 specific scripts such as lock, toggle touchpad and others
export PATH="$PATH:$HOME/.config/i3/"

touchegg&
#insync start&
